
@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <div class="">
        <button asp-controller="Firewall" asp-action="Connect" class="btn btn-success">Access</button>
        <button asp-controller="Firewall" asp-action="Disconnect" class="btn btn-danger">Deny</button>
    </div>
</div>

