
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PassDetailSend</title>
</head>
<body>
    <div style="margin: 5%">
        <div style="padding: 5%" class="alert alert-success">
            <strong>Təstiq mesajı emailə göndərildi</strong>
        </div>
    </div>
</body>
</html>
