
@{
    ViewData["Title"] = "Index";
}


    <div class="container " style="padding: 1%">
        <div style="padding-left: 27%">

            <form asp-controller="AddRules" asp-action="Index" style="display:flex">
                <div class="form-row">
                    <div class="form-group ">
                        <label for="inputPassword4">IP</label>
                        <input autocomplete="off" name="command" class="form-control">
                    </div>
                </div>
                <div style="padding:4%">
                    <button type="submit" class="btn btn-success">Submit</button>
                    @*  <button style="margin-left: 5%" type="submit" class="btn btn-danger">Cancel</button>*@
                </div>
            </form>
            <div style="width:50%">
                <ul>
                    <li>
                        <span class="alert-dark">@ViewBag.result</span>
                    </li>
                </ul>
            </div>
        </div>

    </div>
